{% extends "layout.html" %} 
{% block content %}
<div class="form-container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="flash-messages">
    {% for category, message in messages %}
    <div class="flash-message {{ category }}">{{ message }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <h2 class="title">Login</h2>
    <p>
      {{ form.email.label }}<br />
      {{ form.email(size=32) }} {% for error in form.email.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="password-field">
      {{ form.password.label }}<br />
      {{ form.password(size=32) }}
      <button type="button" class="show-hide" onclick="togglePasswordVisibility('password')">Show</button>
      {% for error in form.password.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
  <p class="register-message">First time? <a href="{{ url_for('register') }}">Please register now.</a></p>
</div>
<script>
  function togglePasswordVisibility(id) {
    var passwordField = document.getElementById(id);
    var showHideButton = document.querySelector('.show-hide');
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showHideButton.textContent = "Hide";
      showHideButton.style.color = "blue";
    } else {
      passwordField.type = "password";
      showHideButton.textContent = "Show";
      showHideButton.style.color = "black";
    }
    passwordField.focus();
  }
</script>
{% endblock %}
