{% extends "layout.html" %} {% block content %}
<div class="container">
  <h2 class="title">You have chosen the following products:</h2>
  {% if not orders %}
  <p>You have not chosen any products!</p>
  {% else %}
  <table class="product-table">
    <thead>
      <tr>
        <th class="id-column">Product ID</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Label</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td class="id-column">{{ order.r2["product_id"] }}</td>
        <td>{{ order.r2["title"] }}</td>
        <td>{{ order.r2["artist"] }}</td>
        <td>{{ order.r2["label"] }}</td>
        <td class="price-column">${{ "%.2f"|format(order.r2["price"]) }}</td>
        <td class="qty-column">{{ order.r1["quantity"] }}</td>
        <td class="option-column">
          <form action="{{ url_for('order') }}" method="POST">
            <input
              type="hidden"
              name="product_id"
              value="{{ order.r2['product_id'] }}"
            />
            <input
              type="hidden"
              name="quantity"
              value="{{ order.r1['quantity'] }}"
            />
            <button type="submit" name="todo" value="add" class="btn btn-table">+</button>
            <button type="submit" name="todo" value="subtract" class="btn btn-table">-</button>
            <div class="separator"></div>
            <button type="submit" name="todo" value="delete" class="btn btn-danger"><i class="fa fa-trash"></i></button>
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="6">&nbsp;</td>
        <td>Total: ${{ subtotal|round(2) }}</td>
      </tr>
    </tbody>
  </table>
  <br />
  <a href="{{ url_for('checkout') }}" class="btn">Check Out</a>
  {% endif %}
</div>
{% endblock %}
