{% extends "layout.html" %} 
{% block content %}
<div class="form-container">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <h2 class="title">Register</h2>
    <p>
      {{ form.first_name.label }}<br />
      {{ form.first_name(size=32) }} {% for error in form.first_name.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.last_name.label }}<br />
      {{ form.last_name(size=32) }} {% for error in form.last_name.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br />
      {{ form.email(size=32) }} {% for error in form.email.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="password-field">
      {{ form.password.label }}<br />
      {{ form.password(size=32) }}
      <button type="button" class="show-hide" onclick="togglePasswordVisibility('password')">Show</button>
      {% for error in form.password.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p class="password-field">
      {{ form.password_confirm.label }}<br />
      {{ form.password_confirm(size=32) }}
      <button type="button" class="show-hide" onclick="togglePasswordVisibility('password_confirm')">Show</button>
      {% for error in form.password_confirm.errors %}
      <span class="error-message">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
<script>
  function togglePasswordVisibility(id) {
    var passwordField = document.getElementById(id);
    var showHideButton = passwordField.nextElementSibling;
    if (passwordField.type === "password") {
      passwordField.type = "text";
      showHideButton.textContent = "Hide";
      showHideButton.style.color = "blue";
    } else {
      passwordField.type = "password";
      showHideButton.textContent = "Show";
      showHideButton.style.color = "black";
    }
    passwordField.focus();
  }
</script>
{% endblock %}
